.navbar {
    position: fixed;
    background: linear-gradient(176deg, #E65100 0%, #F57C00 90%);
    display: flex;
    align-items: center;
    width: 100%;
}

#basic-navbar-nav {
    background: linear-gradient(176deg, #E65100 0%, #F57C00 90%);
    z-index: 1;
    margin-top: -2vh;
}

.navbar-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
}

@media screen and (min-width: 992px) {
    #basic-navbar-nav {
        display: hidden;
    }
    .navbar-collapse {
        display: none;
    }
}