.reset-password-wrapper {
    margin: 20vh auto;
}

.reset-password-form {
    margin: 0 10px;
}

.reset-password-form input {
    width: 80vw;
}

@media screen and (min-width:500px) {
    .reset-password-form input {
        width: 40vw;
    }
    .reset-password-form {
        margin: 0 30vw;
    }
}

@media screen and (min-width:1024px) {
    .reset-password-form input {
        width: 25vw;
    }
}