.registration-form-h2 {
    text-align: center;
    margin-top: 8vh;
    margin-bottom: -9vh;
}

.registration-page-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}