.login-form-wrapper {
    margin: 20vh auto;
}

.login-form {
    margin: 0 10px;
}

.login-form input {
    width: 80vw;
}



@media screen and (min-width:500px) {
    .login-form input {
        width: 40vw;
    }
    .login-form {
        margin: 0 30vw;
    }
}

@media screen and (min-width:1024px) {
    .login-form input {
        width: 25vw;
    }
}