.search-results li {
    list-style-type: none;
}

@media screen and (min-width: 992px) {
    .search-bar-and-results {
        margin-left: 40vw;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
    .search-results {
        border: 3px solid salmon;
        display: flex;
        margin-top: 1vh;
        margin-bottom: -18vh;
        height: 17vh;
        width: 21vw;
    }
}