.newPostContainer{
  max-width: 500px;
  margin: 30px auto;
}

#post-body {
    margin: auto;
    position: relative;
    padding: 5px;
    width: 30em;
    background-color: white;
    max-height: auto;
    word-wrap: break-word;
  }